<div class="container">
  <div class="justify-content-center mt-5 row">
    <form action="/login" method="post" class="text-center mb-4">
      <div class="form-group">
        <label for="email">email:</label>
        <input type="email" name="email" id="email" class="form-control" placeholder="your email" required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" class="form-control" placeholder="your Password" required>
      </div>
      <button type="submit" class="btn btn-primary">Login</button><br><br>
      {{#if message}}
      <p class=" err-message">{{message}}</p>
      {{/if}}
      <br>
      <span>dont have an Account now? <a href="/signup">Signup</a> for free and join the rooms</span><br>
      <span>Or login with
      <button id="input-style-google"><a href="/login/google">Google</a></button></span>

    </form>
    <div class="col-12 text-center">
      <p><a href="/">Return</a></p>
    </div>
  </div>
</div>
