<h1>private Main Page</h1>

<section id="room">
<room class="room-box">
  <p>will be moved to League of Legends Room once created</p>
<h2>Summoner Search</h2>
<form action="/auth/authorized_main" method="post">
  <input type="text" name="name"placeholder="summoner Name"><br>
</form>

 <p>Summoner: {{this.name}}</p>
 <p>Level: {{this.summonerLevel}}</p>
 </room>
</section>
 </body>