<h1>Playground for some Api tests that might be implemented some day (or maybe not^^)</h1>


<p>LOL basic Api request</p>
<section id="room">
<room class="room-box">
<h2>Summoner Search</h2>
<form action="/authorized/dev_playground" method="post">
  <input type="text" name="name"placeholder="summoner Name"><br>
</form>
 <p>Summoner: {{this.name}}</p>
 <p>Level: {{this.summonerLevel}}</p>
 </room>
</section>
 </body>