<h2>Account Details</h2>

<form action="/authorized/profile_settings?user_id={{user._id}}" method="post" enctype="multipart/form-data">
  <div>
    <label>Avatar</label>
    <input type="text" name="title" />
  </div>
  <div>
    <label>Description</label>
    <input type="text" name="description"/>
  </div>
  <div>
    <label>Avatar</label>
    <input type="file" name="avatar" />
  </div>
  <div>
    <button type="submit">SAVE</button>
  </div>
</form>