<div class="text">
<h2>User Details:</h2><br>
<!--<h3>Logged in user: {{username}}</h3> -->

 <h2>{{user.username}}</h2>
 <p><img src="{{user.avatarURL}}" width="400" height="auto" alt="no Picture found"></p>
 <h3>Email: {{user.email}}</h3>

<div class="col-12 text-center">
  <p><a href="/main">Back to Mainpage</a></p>
</div>
</div>