<h2>Account Editor</h2>
<form action="/user_editor?user_id={{user._id}}" method="post" enctype="multipart/form-data">
  <div>
    <label>Avatar</label>
    <input type="file" name="avatar" />
  </div>
  <div>
    <button type="submit">SAVE</button>
  </div>
</form>

<div class="col-12 text-center">
  <p><a href="/main">Back to Mainpage</a></p>
</div>