<h2>Account Editor</h2>

<h3>User to edit: {{username}}</h3>


<form action="/authorized/user_editor?user_id={{user._id}}" method="post" enctype="multipart/form-data">
  <div>
    <label>Avatar</label>
    <input type="file" name="avatar" />
  </div>
  <div>
    <button type="submit">SAVE</button>
  </div>
</form>