<h2>This is the site for user details</h2>

<!--<h3>Logged in user: {{username}}</h3> -->

{{#each users}}
 <h2>Username: {{this.username}}</h2>
 <p><img src="{{this.avatarURL}}" width="100" height="auto" alt="no Picture found"></p>

 {{/each}}