<body style="background-color: black;">
<h1 style="color: red;">Welcome to the private Plan Generator</h1>
<h3 style="color:aqua"><p>get started</p></h3>
</body>

{{#unless user}}
  Home page
  <div>
    <a href="/auth/google">Login With Google</a>
  </div>
{{/unless}}