<body style="background-color: black">
<header>
  <div class="index"></div>
</header>
<br>
<br>
<br>
<div class="login-container">
<form action="/login" method="get">
<button type="submit" class="btn-primary">
  <img src="https://res.cloudinary.com/ironhackcamp/image/upload/v1579560895/codesource/button_start2_onrrv0.png"/>
</button>
</form>
</div>
</body>

