<body style="background-color: green;">
<h1 style="color: red;">Welcome to the <span style="color: yellow">p</span>rivate <span style="color: yellow">LAN</span> <span style="color: yellow">Comm</span>unity </h1>
<ul>
<li>This will contain Game Rooms you will be able to join and discuss about</li>
<li>random Team generator also planned for implementation</li>
<h3 style="color:aqua"><p><a href="/login">get started</a></p></h3>
</ul>


