<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <div class="text">
  <div class="user-hub">
  {{#if (displayLoginBar routeString '/main /event /user') }}
    <h3>Logged in as: {{loginUser.username}}</h3><br>
<form action="/logout" method="get" class="text-center mb-4">
</form>
<button type="submit">LOGOUT</button>
<h3 style="color:aqua"><p><a href="/user_editor/{{loginUser}}">Edit Profile</a></p></h3>
  {{/if}}
</div>
</div>
  {{{body}}}

  

  <script src="/javascripts/script.js"></script>
</body>
</html>


